.navbar {
  transition: 0.5s;
  transform: translateY(-100%);
  .container {
    @include size(540px) {
      padding: 0;
    }
  }
  font-family: "Poppins", sans-serif;

  &.show {
    transform: translateY(0);
  }
}
